<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fenye.com.dao.CouponsDao">
    <update id="updatacoupons" parameterType="pojo.Coupons">
        update coupons
        <trim prefix="set" suffixOverrides="," suffix="where cid=#{cid}">
            <if test="cname != null">cname=#{cname} ,</if>
            <if test="ctype != null">ctype=#{ctype} ,</if>
            <if test="cmoney != null">cmoney=#{cmoney} ,</if>
            <if test="c1 != null">c1=#{c1} ,</if>
            <if test="c2 != null">c12=#{c2} ,</if>
            <if test="c3 != null">c3=#{c3} ,</if>
        </trim>
    </update>
    <insert id="insertcoupons" parameterType="pojo.Coupons">
        insert into coupons values (0,#{cname},#{ctype},#{cmoney},#{c1},#{c2},#{c3})
    </insert>
    <select id="getAllCoupons" parameterType="pojo.Coupons" resultType="pojo.Coupons">
        select cid,cname,ctype,cmoney,c1,c2,c3 from `coupons`
        <trim prefix="where" prefixOverrides="and|or">
            <if test="cid != null">and cid =#{cid}}</if>
            <if test="cname != null">and cname =#{cname}</if>
            <if test="ctype != null">and ctype =#{ctype}</if>
            <if test="cmoney != null">and cmoney =#{cmoney}</if>
            <if test="c1 != null">and c1 =#{c1}</if>
            <if test="c2 != null">and c2 =#{c2}</if>
            <if test="c3 != null">and c3 =#{c3}</if>
        </trim>
    </select>
</mapper>