<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fenye.com.dao.CouponsanddusersDao">
    <resultMap id="Couponsandusers"  type="pojo.Couponsandusers">
        <result column="cauid" property="cauid"/>
        <result column="caucid" property="caucid"/>
        <result column="cauuid" property="cauuid"/>
        <result column="cautype" property="cautype"/>
        <result column="cau1" property="cau1"/>
        <result column="cau2" property="cau2"/>
        <result column="cau3" property="cau3"/>
        <association property="user" javaType="pojo.User">
            <result column="uid" property="uid"/>
            <result column="uname" property="uname"/>
            <result column="upwd" property="upwd"/>
            <result column="uphone" property="uphone"/>
            <result column="utype" property="utype"/>
            <result column="u1" property="u1"/>
            <result column="u2" property="u2"/>
            <result column="u3" property="u3"/>
        </association>
        <collection property="coupons" ofType="pojo.Coupons">
            <result column="cid" property="cid"/>
            <result column="cname" property="cname"/>
            <result column="ctype" property="ctype"/>
            <result column="cmoney" property="cmoney"/>
            <result column="c1" property="c1"/>
            <result column="c2" property="c2"/>
            <result column="c3" property="c3"/>
        </collection>
    </resultMap>
    <select id="selCouponsanddusersDao" parameterType="pojo.Couponsandusers" resultMap="Couponsandusers">
        SELECT `user`.uname,coupons.cname,couponsandusers.cauid,coupons.cmoney FROM couponsandusers,coupons ,`user`WHERE
        couponsandusers.caucid = coupons.cid and couponsandusers.cauuid = `user`.uid and cauuid=#{cauuid} and cautype=1
    </select>
    <update id="updataCouponsanddusersDao" parameterType="pojo.Couponsandusers">
        update couponsandusers set cautype=0 where cauid=#{cauid}
    </update>
    <insert id="insertCouponsanddusersDao" parameterType="pojo.Couponsandusers">
        insert into couponsandusers values (0,caucid,cauuid,1,cau1,cau2,cau3)
    </insert>
</mapper>