<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fenye.com.dao.DishesDao">
    <select id="getAllDishes" resultType="pojo.Dishes">

        select did,dname,dstate from dishes
        <trim prefix="where" prefixOverrides="and|or">
            <if test="did != null">and did =#{did}}</if>
            <if test="dname != null">and dname =#{dname}</if>
            <if test="dstate != null">and dstate =#{dstate}</if>
            <if test="d1 != null">and d1 =#{d1}</if>
            <if test="d2 != null">and d2 =#{d2}</if>
            <if test="d3 != null">and d3 =#{d3}</if>
        </trim>
    </select>

    <insert id="addDishes" parameterType="pojo.Dishes">
        insert into dishes values (0,#{dname},#{dstate},#{d1},#{d2},#{d3})

    </insert>

    <update id="updateDishes" parameterType="pojo.Dishes">
        update dishes
        <trim prefix="set" suffixOverrides="," suffix="where did=#{did}">
            <if test="dname!=null">dname =#{dname} ,</if>
            <if test="dstate != null">dstate =#{dstate} ,</if>
            <if test="d1 != null">d1 =#{d1} ,</if>
            <if test="d2 != null">d2 =#{d2} ,</if>
            <if test="d3 != null">d3 =#{d3} ,</if>
        </trim>
    </update>

</mapper>